.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  border-radius: 0px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -26px;
  z-index: 1000;
  float: left;
  padding: 0px;
  border: none;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  margin-right: 20px;
}
